{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div id="background">
    <h1>Page d'accueil</h1>
    <img src="{{ asset('img/photo-background.jpg') }}" alt="bgimage" />
</div>
{% endblock %}
