/********************************************
*
* DEFINITION DES POLICES D'ECRITURE
*
********************************************/

@font-face {
	font-family: 'Calligraffiti';
	src: url('../font/Calligraffiti.ttf');
}

@font-face {
	font-family: 'bubblerone-regular';
	src: url('../font/bubblerone-regular.ttf');
}



/********************************************
*
* GLOBAL
*
********************************************/

/*logo du site*/
#logo-kafeti {
	border-radius: 90px;
}

body {
	font-family: 'bubblerone-regular';
	background: url("../../img/photo-background.jpg") no-repeat center center fixed;
    background-size: cover; 
}

h1 {
	background-color: #d38470;
	padding: 15px 5px 15px 15px;
	color: #FFFFFF;
	font-size: 18px;
	margin: 0;
}

a {
	color: #d38470;
	font-weight: bold;
}

a:hover {
	color: #7d3726;
	text-decoration: none;
}

/*liens de pagination (chiffres uniquement)*/
a.page-link.number {
    font-size: 19px;
}

/*design des menus déroulants de la nav*/

.dropdown-item:hover
{
	background-color: #17a2b8!important;
	color: white;
}

.dropdown-menu.bg-info
{
	border-style: none;
}

/********************************************
*
* Vues de Plat/Ingrédient
*
********************************************/

#block-see-plat .img-ardoise, #block-see-ingredient .img-ardoise {
	font-family: 'Calligraffiti';
	background: url("../../img/ardoise-2.jpg") no-repeat center; 
	background-size: cover;
	border-radius: 90px;
	box-shadow: 10px 5px 5px black;
	padding: 30px;
	width: 80%;
}

#block-see-plat .redimensionnement-img, #block-see-ingredient .redimensionnement-img {
	width: 80%;
}

#block-see-plat .text-plat, #block-see-ingredient .text-ingredient {
    color: white;
    margin-bottom: 25px;
}

/********************************************
*
* Surcharges / Surcharges Bootstrap
*
********************************************/

/*arborescence*/
.breadcrumb {
	border-radius: 0;
	margin: 0;
}