/********************************************
*
* DEFINITION DES FONTS
*
********************************************/
@font-face {
	font-family: 'Calligraffiti';
	src: url('../font/Calligraffiti.ttf');
}

/********************************************
*
* GLOBAL
*
********************************************/

#logo-kafeti {
	border-radius: 90px;
}

body {
	font-family: 'Calligraffiti';
}

h1 {
	margin: 0px 0px 10px 0px;
	background-color: #d38470;
	padding: 15px 5px 15px 15px;
	color: #FFFFFF;
	font-family: Calligraffiti;
	font-size: 35px;
}

b, strong {
	font-family: 'Calligraffiti';
}

a {
	color: #d38470;
	font-weight: bold;
}

a:hover {
	color: #7d3726;
	text-decoration: none;
}

/********************************************
*
* Vues de Plat
*
********************************************/
#ardoise-plat {
	background: url("../../img/ardoise-2.jpg") repeat center top; 
	min-height: 600px;
}

.img-plat {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 20%;
	border-radius: 20px;
}

#text-plat {
    text-align: center;
    color: white;
}