<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% include 'elements/include_js_css.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'elements/nav.html.twig' %}
    {% include 'elements/arborescence.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
