<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href='{{ asset('img/logo-panda.png')}}' rel='shortcut icon' type='images/x-icon'>
        {% include 'elements/include_js_css.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'elements/nav.html.twig' %}
    {% include 'elements/arborescence.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
